@font-face {
  font-family: headers;
  src: url("/assets/fonts/Teko-Bold.ttf");
}

#theButterfly {
  position: absolute;
  width: 6vw;
  left: 110vw;
  -webkit-animation: fly 5s linear 2s infinite;
          animation: fly 5s linear 2s infinite;
}

@media only screen and (max-width: 768px) {
  #theButterfly {
    -webkit-animation: fly3 4s linear 5s infinite;
            animation: fly3 4s linear 5s infinite;
    width: 20vw;
  }
}

@-webkit-keyframes fly {
  0% {
    left: 130vw;
    top: 70vh;
  }
  10% {
    top: 90vh;
  }
  20% {
    top: 65vh;
  }
  30% {
    top: 35vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 70vh;
  }
  60% {
    top: 55vh;
  }
  70% {
    top: 76vh;
  }
  80% {
    top: 70vh;
  }
  90% {
    top: 50vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

@keyframes fly {
  0% {
    left: 130vw;
    top: 70vh;
  }
  10% {
    top: 90vh;
  }
  20% {
    top: 65vh;
  }
  30% {
    top: 35vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 70vh;
  }
  60% {
    top: 55vh;
  }
  70% {
    top: 76vh;
  }
  80% {
    top: 70vh;
  }
  90% {
    top: 50vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

#theButterfly2 {
  position: absolute;
  width: 5vw;
  left: 110vw;
  -webkit-animation: fly2 7s linear 7s infinite;
          animation: fly2 7s linear 7s infinite;
}

@media only screen and (max-width: 768px) {
  #theButterfly2 {
    -webkit-animation: fly3 5s linear 5s infinite;
            animation: fly3 5s linear 5s infinite;
    width: 20vw;
  }
}

@-webkit-keyframes fly2 {
  0% {
    left: 130vw;
    top: 70vh;
  }
  10% {
    top: 50vh;
  }
  20% {
    top: 35vh;
  }
  30% {
    top: 65vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 70vh;
  }
  60% {
    top: 65vh;
  }
  70% {
    top: 86vh;
  }
  80% {
    top: 40vh;
  }
  90% {
    top: 50vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

@keyframes fly2 {
  0% {
    left: 130vw;
    top: 70vh;
  }
  10% {
    top: 50vh;
  }
  20% {
    top: 35vh;
  }
  30% {
    top: 65vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 70vh;
  }
  60% {
    top: 65vh;
  }
  70% {
    top: 86vh;
  }
  80% {
    top: 40vh;
  }
  90% {
    top: 50vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

#theButterfly3 {
  position: absolute;
  width: 6vw;
  left: 110vw;
  -webkit-animation: fly3 4s linear 5s infinite;
          animation: fly3 4s linear 5s infinite;
}

@media only screen and (max-width: 768px) {
  #theButterfly3 {
    width: 20vw;
    -webkit-animation: fly3 3s linear 5s infinite;
            animation: fly3 3s linear 5s infinite;
  }
}

@-webkit-keyframes fly3 {
  0% {
    left: 130vw;
    top: 30vh;
  }
  10% {
    top: 60vh;
  }
  20% {
    top: 45vh;
  }
  30% {
    top: 65vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 60vh;
  }
  60% {
    top: 45vh;
  }
  70% {
    top: 76vh;
  }
  80% {
    top: 50vh;
  }
  90% {
    top: 60vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

@keyframes fly3 {
  0% {
    left: 130vw;
    top: 30vh;
  }
  10% {
    top: 60vh;
  }
  20% {
    top: 45vh;
  }
  30% {
    top: 65vh;
  }
  40% {
    top: 45vh;
  }
  50% {
    top: 60vh;
  }
  60% {
    top: 45vh;
  }
  70% {
    top: 76vh;
  }
  80% {
    top: 50vh;
  }
  90% {
    top: 60vh;
  }
  100% {
    left: -30vw;
    top: 30vh;
  }
}

#frontFront, #backFront, #frontFront2, #backFront2, #frontFront3, #backFront3 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  animation: wing1 0.07s infinite alternate-reverse;
  transform-box: fill-box;
}

@-webkit-keyframes wing1 {
  0% {
    -webkit-transform: scaleY(1) rotate(0);
            transform: scaleY(1) rotate(0);
  }
  100% {
    -webkit-transform: scaleY(-0.5) rotate(-20deg);
            transform: scaleY(-0.5) rotate(-20deg);
  }
}

@keyframes wing1 {
  0% {
    -webkit-transform: scaleY(1) rotate(0);
            transform: scaleY(1) rotate(0);
  }
  100% {
    -webkit-transform: scaleY(-0.5) rotate(-20deg);
            transform: scaleY(-0.5) rotate(-20deg);
  }
}

svg {
  overflow: visible;
}

#frontFront, #frontBack, #backBack, #backFront,
#frontFront2, #frontBack2, #backBack2, #backFront2,
#frontFront3, #frontBack3, #backBack3, #backFront3 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: wing1 0.07s infinite alternate;
          animation: wing1 0.07s infinite alternate;
  transform-box: fill-box;
}

@-webkit-keyframes wing2 {
  0% {
    -webkit-transform: scaleY(1) scaleX(1) rotate(0);
            transform: scaleY(1) scaleX(1) rotate(0);
  }
  100% {
    -webkit-transform: scaleY(-0.5) scaleX(2) rotate(-20deg);
            transform: scaleY(-0.5) scaleX(2) rotate(-20deg);
  }
}

@keyframes wing2 {
  0% {
    -webkit-transform: scaleY(1) scaleX(1) rotate(0);
            transform: scaleY(1) scaleX(1) rotate(0);
  }
  100% {
    -webkit-transform: scaleY(-0.5) scaleX(2) rotate(-20deg);
            transform: scaleY(-0.5) scaleX(2) rotate(-20deg);
  }
}

#theFlower {
  position: absolute;
  margin-top: 47vh;
  height: 120vh;
}

#flHead, #theFlower, #theOther {
  -webkit-animation: thisss ease-in-out 4s infinite alternate;
          animation: thisss ease-in-out 4s infinite alternate;
}

@-webkit-keyframes thisss {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg) skewY(5deg);
            transform: rotate(-5deg) skewY(5deg);
  }
}

@keyframes thisss {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-5deg) skewY(5deg);
            transform: rotate(-5deg) skewY(5deg);
  }
}

.cover {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.coverBack {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .coverBack {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(129, 163, 197, 0.9);
  position: relative;
}

.container .menu {
  z-index: 2000;
  position: fixed;
  top: 0;
  background-color: rgba(12, 33, 128, 0.95);
  color: aliceblue;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: right;
  padding: 5px 5vw;
}

@media only screen and (max-width: 768px) {
  .container .menu {
    background-color: rgba(255, 255, 255, 0.95);
    color: #0c2180;
    -ms-grid-columns: 1fr 10fr;
        grid-template-columns: 1fr 10fr;
  }
}

.container .menu .flow {
  text-align: left;
  position: relative;
}

.container .menu .flow #stickOut {
  position: absolute;
  top: 7vh;
  left: -5vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  width: 40vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 7px;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .container .menu .flow #stickOut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container .menu .flow #stickOut div {
  padding: 5px;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: 5vw;
  margin-right: 2vw;
  margin-top: 5px;
  background-color: #d1d3db;
  font-family: headers;
  margin-bottom: 5px;
}

.container .menu .flow span {
  margin: auto 1vw auto 0;
  height: 100%;
  font-family: headers;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container .menu .flow span {
    display: none;
  }
}

.container .menu .flow span:hover {
  color: #81a3c5;
}

.container .menu .flow svg {
  display: none;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container .menu .flow svg {
    display: block;
  }
}

.container .menu .flow svg #lineOne, .container .menu .flow svg #lineThree, .container .menu .flow svg #lineTwo {
  position: absolute;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .menu .deContacts {
  font-size: small;
}

.container .menu .deContacts .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.container .menu .deContacts .gmail:hover {
  color: #81a3c5;
}

.container .background {
  background-image: url("/assets/backMt1.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #2782f8;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.001s linear ease;
  transition: all 0.001s linear ease;
  overflow: hidden;
}

.container .background svg {
  width: 40%;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  .container .background svg {
    width: 100%;
  }
}

.container .background #theFlowert {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 468px) {
  .container .background #theFlowert {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
}

.container .background #theOther {
  bottom: -10vw;
  right: 20vw;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

@media only screen and (max-width: 768px) {
  .container .background #theOther {
    width: 100%;
    right: 0vw;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.container .theButter {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.container .landing {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  margin: 10vh 10vw;
  width: 80vw;
  height: 80vh;
  border-radius: 1vw;
  display: -ms-grid;
  display: grid;
  top: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr 3fr;
      grid-template-rows: 1fr 3fr 3fr;
}

@media only screen and (max-width: 768px) {
  .container .landing {
    height: 95vh;
    width: 90vw;
    margin: 3vh 5vw;
  }
}

.container .landing .firstLine .topcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 2vh 2vw 0 auto;
}

.container .landing .firstLine .topcontact .menuContent {
  font-family: headers;
}

.container .landing .firstLine .topcontact .menuContent:hover {
  cursor: pointer;
  background-color: #6d83c4;
  color: white;
  border-radius: 5px;
}

.container .landing .firstLine .contactsNew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .landing .firstLine .contactsNew .holder {
  margin-right: 2.5vw;
  text-align: right;
}

.container .landing .firstLine .contactsNew .holder .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
}

.container .landing .firstLine .contactsNew .holder .gmail img {
  margin-right: 5px;
}

.container .landing .firstLine .contactsNew .holder .gmail:hover {
  color: #0c2180;
  font-weight: bolder;
}

.container .landing .firstLine .contactsNew .holder .git svg {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .landing .firstLine .contactsNew .holder .git svg path {
  fill: #F24F29;
}

.container .landing .firstLine .contactsNew .holder .git svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .landing .firstLine .contactsNew .holder .git svg:hover path {
  fill: #0c2180;
}

.container .landing .logo {
  padding: 2vw;
}

.container .landing .logo svg {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .container .landing .logo svg {
    width: 100%;
    margin-top: 8vh;
  }
}

.container .landing .slides {
  position: relative;
  width: 40vw;
  text-align: right;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .container .landing .slides {
    width: 70vw;
  }
}

.container .landing .slides::before {
  background: -webkit-gradient(linear, left top, right top, from(rgba(221, 231, 235, 0)), color-stop(#d1d8e6), color-stop(#dae4ec), color-stop(rgba(218, 228, 236, 0)), color-stop(rgba(218, 228, 236, 0)), color-stop(rgba(218, 228, 236, 0)), color-stop(rgba(218, 228, 236, 0)), color-stop(rgba(218, 228, 236, 0)), to(#dae4ec));
  background: linear-gradient(to right, rgba(221, 231, 235, 0), #d1d8e6, #dae4ec, rgba(218, 228, 236, 0), rgba(218, 228, 236, 0), rgba(218, 228, 236, 0), rgba(218, 228, 236, 0), rgba(218, 228, 236, 0), #dae4ec);
  position: absolute;
  height: 100%;
  width: 50vw;
  content: '';
  left: -10vw;
  top: 0;
  z-index: 30;
}

@media only screen and (max-width: 768px) {
  .container .landing .slides::before {
    width: 87vw;
    left: -17vw;
  }
}

.container .landing .slides .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.container .landing .slides .holder svg {
  width: 20vw;
  margin: 1vw;
}

@media only screen and (max-width: 768px) {
  .container .landing .slides .holder svg {
    width: 35vw;
  }
}

.container .kujatuo {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: rgba(129, 163, 197, 0.9);
  padding: 5vw;
}

.container .kujatuo .title {
  width: 100%;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
  font-size: larger;
}

.container .kujatuo .untitle {
  width: 100%;
  text-align: center;
  border: 1px solid #cccccc;
  margin-top: 5vh;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.container .kujatuo .untitle:hover {
  background-color: #b7bfcf;
}

.container .kujatuo .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5vh 0;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  row-gap: 10px;
}

.container .kujatuo .content .card {
  border: 1px solid #aaa6a6;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(183, 191, 207, 0.5);
}

.container .kujatuo .content h4 {
  text-align: center;
  margin-bottom: 10px;
  font-family: headers;
  text-shadow: 0 1px 0 #ccc;
}

.container .kujatuo .content P {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .container .kujatuo .content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container .kujatuo #content2 {
  padding-top: 7vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

@media only screen and (max-width: 768px) {
  .container .kujatuo #content2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2vh;
  }
}

.container .kujatuo #content2 .card {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.container .kujatuo #content2 .card .picture {
  height: 20vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-color: #dedfe0;
}

@media only screen and (max-width: 768px) {
  .container .kujatuo #content2 .card .picture {
    height: 25vh;
  }
}

.container .kujatuo #content2 .card .texts {
  height: 20vh;
  color: #a0b9d3;
  background-color: #0c2180;
  padding: 10px;
  text-align: justify;
}

.container .kujatuo #content2 .card .texts h4 {
  color: #fff;
}

.container .kujatuo #content2 .card .texts h5 {
  color: #eae9f1;
  margin-left: 3px;
}

.container .kujatuo #content2 .card .texts p {
  margin-left: 5px;
}

.container .kujatuo #content2 .card .texts a {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  background-color: #0c2180;
  padding: 2px;
  border: 1px solid #7a7c8b;
  border-radius: 5px;
  cursor: pointer;
}

.container .kujatuo #content2 .card .texts a:hover {
  background-color: #4c5daa;
}

.container .underwater {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url(../assets/deepsea3.jpg);
  background-color: rgba(129, 163, 197, 0.9);
  background-position: center center;
  padding: 5vh 5vw 5vh 5vw;
  background-attachment: fixed;
}

.container .underwater .quotCart {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  padding: 4vh 4vw 2vh 1vw;
  margin: 20vh 0;
}

@media only screen and (max-width: 768px) {
  .container .underwater .quotCart {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container .underwater .quotCart .contacts img {
  width: 20vw;
}

@media only screen and (max-width: 768px) {
  .container .underwater .quotCart .contacts img {
    width: 80vw;
  }
}

.container .underwater .quotCart .quotationIT .input {
  width: 100%;
  height: 35px;
  background-color: #81a3c5;
  margin-bottom: 2vh;
  position: relative;
}

.container .underwater .quotCart .quotationIT .input input {
  width: 100%;
  height: 70%;
  border: none;
  color: blue;
  padding-left: 10px;
}

.container .underwater .quotCart .quotationIT .input label {
  pointer-events: none;
  border: none;
  width: 100%;
  font-size: smaller;
}

.container .underwater .quotCart .quotationIT .input button {
  height: 100%;
  background-color: #3ea13e;
  color: whitesmoke;
  cursor: pointer;
}

.container .underwater .quotCart .quotationIT .input button:hover {
  background-color: green;
}

.container .underwater .quotCart .quotationIT .textaea {
  width: 100%;
  height: 20vh;
}

.container .underwater .quotCart .quotationIT .textaea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  position: relative;
}

.container .aboutUs {
  position: relative;
  width: 100%;
  background-color: #20283b;
  padding: 5vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.container .aboutUs .titlecrazy {
  display: block;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .titlecrazy {
    display: none;
  }
}

.container .aboutUs h4 {
  color: #a0b9d3;
  text-align: center;
}

.container .aboutUs p {
  color: #fff;
  text-align: justify;
}

.container .aboutUs .about {
  padding-right: 2vw;
  position: relative;
  border-width: 3px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), red, rgba(0, 0, 0, 0)) 1 100%;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(red), to(rgba(0, 0, 0, 0))) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), red, rgba(0, 0, 0, 0)) 1 100%;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .about {
    border: none;
    padding: none;
  }
}

.container .aboutUs .about h4 {
  margin-bottom: 1vh;
}

.container .aboutUs .about .holder {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .about .holder {
    display: none;
  }
}

.container .aboutUs .about .holder .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
}

.container .aboutUs .about .holder .gmail img {
  margin-right: 5px;
}

.container .aboutUs .about .holder .gmail:hover {
  color: #0c2180;
  font-weight: bolder;
}

.container .aboutUs .about .holder .git svg {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .aboutUs .about .holder .git svg path {
  fill: #F24F29;
}

.container .aboutUs .about .holder .git svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .aboutUs .about .holder .git svg:hover path {
  fill: #0c2180;
}

.container .aboutUs .team {
  padding-left: 1vw;
}

.container .aboutUs .team .titlecrazy {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .team .titlecrazy {
    display: block;
  }
}

.container .aboutUs .team .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .aboutUs .team .holder .cardi {
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #868585;
  border-radius: 5px;
  width: 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .team .holder .cardi {
    width: 70vw;
  }
}

.container .aboutUs .team .holder .cardi .avata {
  width: 7vw;
  border-radius: 10px 50px 0px 25px;
  overflow: hidden;
  background-color: #81a3c5;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .team .holder .cardi .avata {
    width: 20vw;
  }
}

.container .aboutUs .team .holder .cardi .avata img {
  width: 7vw;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .team .holder .cardi .avata img {
    width: 20vw;
  }
}

.container .aboutUs .team .holder .cardi .textss {
  text-align: right;
}

.container .aboutUs .team .holder .cardi .textss h4 {
  color: #20283b;
}

.container .aboutUs .team .holder .cardi .textss h5 {
  margin-right: 5px;
  color: #4e170b;
}

.container .aboutUs .team .holder .cardi .textss p {
  color: black;
  font-size: small;
  font-weight: bold;
  margin-left: 5px;
}

.container .aboutUs .team .holder2 {
  text-align: right;
  display: none;
}

@media only screen and (max-width: 768px) {
  .container .aboutUs .team .holder2 {
    display: block;
  }
}

.container .aboutUs .team .holder2 .gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
}

.container .aboutUs .team .holder2 .gmail img {
  margin-right: 5px;
}

.container .aboutUs .team .holder2 .gmail:hover {
  color: #0c2180;
  font-weight: bolder;
}

.container .aboutUs .team .holder2 .git svg {
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.container .aboutUs .team .holder2 .git svg path {
  fill: #F24F29;
}

.container .aboutUs .team .holder2 .git svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .aboutUs .team .holder2 .git svg:hover path {
  fill: #0c2180;
}

.container .footer {
  width: 100%;
  height: 20vh;
  background-color: black;
  text-align: center;
  padding: 5vw;
}

.container .footer a {
  color: #81a3c5;
  text-decoration: none;
  margin: 2vh;
}
/*# sourceMappingURL=style.css.map */